In [1]:
import sys
try:
    sys.path.insert(0, '..')
    from syntheticus_connect import syntheticus_interact
except ImportError:
    from syntheticus_connect import syntheticus_interact

### Print installed library version

In [ ]:
import syntheticus_connect

In [ ]:
print(syntheticus_connect.__version__)

### Intalization

If the host variables are not privided to the constructor of the class or are not present in the environmental variable, the user will be presented with a value error that prompt to provide them

In [ ]:
client = syntheticus_interact()

how to use it when hosts are provided to the constructor. First django host second jupyterhub host

In [2]:
client = syntheticus_interact("https://django.dev.syntheticus.ai", "https://airflow-webserver.dev.syntheticus.ai")

### Login

In [ ]:
client.login_user()

In [3]:
client.login("valerio_syntheticus","ZHG9uvg@hkg-qnc7yqn")

'Login successful.'

### Select projects

In [4]:
client.list_projects()

+--------------------------------------+----------------+--------------------------+
| Project ID                           | Project Name   | Created At               |
+======================================+================+==========================+
| 761c1761-a1cf-4072-91bf-25527f6fa598 | demo           | 2023-11-20T16:05:57+0000 |
+--------------------------------------+----------------+--------------------------+
| f9813882-73b5-4bcc-923f-e853e6c21ded | demo2          | 2023-11-21T14:52:26+0000 |
+--------------------------------------+----------------+--------------------------+
| 002b1fef-aeb8-4693-8db3-b692ec8af988 | demo4          | 2023-11-21T15:53:30+0000 |
+--------------------------------------+----------------+--------------------------+
| 5d4a812f-c5a9-43f2-8cd3-b5355b9d4b62 | prova          | 2023-11-22T15:24:05+0000 |
+--------------------------------------+----------------+--------------------------+
| de00be46-9a9d-429e-877a-79ae409c6a93 | adcubum        | 2023-11-28T15:08:44+0000 |
+--------------------------------------+----------------+--------------------------+

In [5]:
client.project_select()

VBox(children=(Dropdown(description='Select:', layout=Layout(width='auto'), options=('ID: 761c1761-a1cf-4072-9â€¦

In [9]:
client.project_id

'de00be46-9a9d-429e-877a-79ae409c6a93'

In [10]:
client.project_name

'adcubum'

### Create and delete projects

call the method with one argument: project name.

In [ ]:
client.create_project('adcubum')

In [ ]:
client.delete_project("8084f1db-8785-4995-a157-dbb33a8e51ff")

### Upload dataset

In [12]:
import pandas as pd

In [25]:
tarifziffer = pd.read_csv("../dataset/adcubum/tarifziffer/tarifziffer.csv")

C:\Users\mazzo\AppData\Local\Temp\ipykernel_9036\2814887546.py:1: DtypeWarning: Columns (25,28,63) have mixed types. Specify dtype option on import or set low_memory=False.
  tarifziffer = pd.read_csv("../dataset/adcubum/tarifziffer/tarifziffer.csv")

In [35]:
tarifziffer.head()

,PKEY,BOID,METABO,LASTUPDATE,PROCESSID,CREATED,BIZCREATED,CREATEDUSER,BIZUSER,REPLACED,...,DRG_CWH_GEB,DRG_LTP_CWD_GEB,DRG_HTP_CWD_GEB,DRG_EXTVERLAB_GEB,TAEL_ID,ZIFFERKOA,ZIFFERKOAOVR,TZIMPORTMODE,TIMESEG,FACTOR_MAX
0,23,16,-1082,2014-01-16 15:40:44.238490000,B.107,2014-01-16 15:40:44.238490000,2014-01-16 15:40:44.238490000,CHaegele,CHaegele,3000-01-01 00:00:00.000000000,...,NaN,NaN,NaN,NaN,5009964.0,NaN,0,-62572,3000-01-01,NaN
1,24,8,-1082,2014-01-16 15:40:44.280288000,B.107,2014-01-16 15:40:44.280288000,2014-01-16 15:40:44.280288000,CHaegele,CHaegele,3000-01-01 00:00:00.000000000,...,NaN,NaN,NaN,NaN,5009965.0,NaN,0,-62572,3000-01-01,NaN
2,25,17,-1082,2014-01-16 15:40:44.325209000,B.107,2014-01-16 15:40:44.325209000,2014-01-16 15:40:44.325209000,CHaegele,CHaegele,3000-01-01 00:00:00.000000000,...,NaN,NaN,NaN,NaN,5009966.0,NaN,0,-62572,3000-01-01,NaN
3,26,14,-1082,2014-01-16 15:40:44.366958000,B.107,2014-01-16 15:40:44.366958000,2014-01-16 15:40:44.366958000,CHaegele,CHaegele,3000-01-01 00:00:00.000000000,...,NaN,NaN,NaN,NaN,5009967.0,NaN,0,-62572,3000-01-01,NaN
4,27,10,-1082,2014-01-16 15:40:44.406095000,B.107,2014-01-16 15:40:44.406095000,2014-01-16 15:40:44.406095000,CHaegele,CHaegele,3000-01-01 00:00:00.000000000,...,NaN,NaN,NaN,NaN,5009968.0,NaN,0,-62572,3000-01-01,NaN

In [34]:
tarifziffer.drop('Unnamed: 0', axis=1, inplace=True)

In [36]:
tarifziffer.to_csv('../dataset/adcubum/tarifziffer/tarfiziffer_def.csv', index=False)

In [39]:
file_names = ["tarfiziffer.csv", "metadata.json"]
folder_path = "../dataset/adcubum/tarifziffer"
dataset_name = 'tarifziffer'

client.upload_data(dataset_name = dataset_name ,folder_path=folder_path, file_names=file_names)

Files uploaded successfully.

### Select a dataset within a project

In [40]:
client.dataset_select()

VBox(children=(Dropdown(description='Select:', layout=Layout(width='auto'), options=('Select a dataset',), valâ€¦

### Upload the configuration file

Update a basic configuration file to the project, a copy of the file will be save at the same level of the notebook.

In [ ]:
client.upload_conf()

Update the configation file then use this method to send it to the project folder

In [ ]:
client.update_conf()

### Select a synthetization model

In [ ]:
client.model_select()

### Show the status of the setup

In [11]:
client.show_setup()

Current Setup Information:
Project ID: de00be46-9a9d-429e-877a-79ae409c6a93
Project Name: adcubum
Dataset ID: Not Set
Model ID: Not Set
Dataset Name: Not Set
Config File Path: Not Set
Commit ID: Not Set

### Fit the model

In [ ]:
client.synthetize()

### Select an experiment

In [ ]:
client.experiment_select()

### Download

folders that can be downloaded:
        'data_orig',
        'data_synth',
        'data_transform', 
        'report', 
        'models',
        'config',
        'metadata'

In [ ]:
client.download_data('data_orig')

### Reset the session

In [ ]:
client.reset()